{% extends 'base.html' %}

{%block title%}
    {{recipe_object.title}} - Delish Recipes
{% endblock title%}

{% block content%}
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
            </nav>
        </header>
        <!-- add line break  -->
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    </body>
{% endblock content%}

{% load static %}

{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>{{recipe_object.title}} - Delish Recipes</title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
            </nav>
        </header>
        <!-- add line break  -->
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
        <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by Delish</footer>
    </body>
</html> {% endcomment %}
