{% extends 'base.html' %}

{%block title%}
    {{recipe_object.title}} - Delish Recipes
{% endblock title%}

{% block content%}
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
                {% endif %}
            </nav>
        </header>
        <!-- add line break  -->
        <main>
            <h1>{{recipe_object.title}}</h1>
            <div>By: {{recipe_object.author}}</div>
            <img class="fit-pic" src="{{ recipe_object.picture}}" alt="Cookies">
            <div>5.0 stars</div>
            <p>{{recipe_object.description}} </p>

            <h2>Ingredients</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in recipe_object.ingredient.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                <li> {{ step.instruction }} </li>
                {% endfor %}
            </ol>
            <div>{{recipe_object.created_on|date:"F j, Y"}}</div>
        </main>
    </body>
{% endblock content%}

{% comment %} {% load static %} {% endcomment %}

{% comment %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{recipe_object.title}} - Delish Recipes</title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="list.html">Main</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
            </nav>
        </header>
        <!-- add line break  -->
        <main>
            <h1>{{recipe_object.title}}</h1>
            <img class="fit-pic" src="{{ recipe_object.picture}}" alt="Cookies">
            <div>5.0 stars</div>
            <p>{{recipe_object.description}} </p>

            <h2>Ingredients</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 c</td>
                        <td>almond flour</td>
                    </tr>
                    <tr>
                        <td>1 c</td>
                        <td>tahini</td>
                    </tr>
                    <tr>
                        <td>1/2 c </td>
                        <td>maple syrup</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>egg or flax egg</td>
                    </tr>
                    <tr>
                        <td>1 tsp</td>
                        <td>baking soda</td>
                    </tr>
                    <tr>
                        <td>1 c</td>
                        <td>chocolate chips</td>
                    </tr>
                    <tr>
                        <td>1 tsp</td>
                        <td>vanilla</td>
                    </tr>
                    <tr>
                        <td>1 tsp</td>
                        <td>fleur de sel, for topping</td>
                    </tr>
                    </tbody>
                </table>

            <h2>Steps</h2>
            <ol>
                <li>Mix everything together, adding egg and baking soda last</li>
                <li>Refridgerate dough for at least 30m</li>
                <li>Form into cookies on a sheet</li>
                <li>Bake for 10-12m at 350*</li>
            </ol>
            <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by Delish</footer>
        </main>
    </body>
</html> {% endcomment %}
