{% extends 'base.html' %}

{%block title%}
    {{recipe_object.title}} - Delish Recipes
{% endblock title%}

{% block content%}
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
            </nav>
        </header>
        <!-- add line break  -->
        <main>
            <form method="post">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <button>Save Edits</button>
            </form>
        </main>
    </body>
{% endblock content%}

{% load static %}
