{% extends 'base.html' %}

{%block title%}
    Delish Recipes
{% endblock title%}

{% block content%}
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
                {% if user.is_authenticated %}
                    Hello, {{user.username }}
                    <a href="{% url 'create_recipe' %}"> Create a Recipe </a>
                    <a href="{% url 'my_recipe_list' %}"> My Recipes </a>
                    <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'user_login' %}"> Login </a>
                {% endif %}
            </nav>
        </header>

        <main>
            <h1>Delish Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="grid-container">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                        <a href="{% url "show_recipe" recipe.id %}">{{recipe.title}}</a>
                    </h3>
                    <div>{{recipe.created_on|date:"m.j.y"}}</div>
                    <img class="fit-pic" src="{{recipe.picture}}" alt="Food Pic"/>
                    <div>{{recipe.rating}}</div>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
{% endblock content%}

{% comment %} {% load static %} {% endcomment %}

{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>Delish Recipes</title>
        <!-- <link rel="stylesheet" href="recipes.css"> -->
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main</a>
                <a href="{% url 'create_recipe' %}">Create a Recipe</a>
            </nav>
        </header>

        <main>
            <h1>Delish Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="grid-container">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                        <a href="{% url "show_recipe" recipe.id %}">{{recipe.title}}</a>
                    </h3>
                    <div>{{recipe.created_on|date:"m.j.y"}}</div>
                    <img class="fit-pic" src="{{recipe.picture}}" alt="Food Pic"/>
                    <div>{{recipe.rating}}</div>
                </div>
                {% endfor %}
            </div>
        </main>
        <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by Delish</footer>
    </body>
</html> {% endcomment %}
