{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title%} {% endblock title%}
        </title>
        <link rel="stylesheet" href="{% static "auth/styles.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    </head>
    <body>
       {% block content%} {% endblock content%}
        <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by Delish</footer>
    </body>
</html>
