{% extends 'base2.html' %}

{% block title %} Login - Delish Recipes {% endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main</a>
    </nav>
</header>
<main>
    <h1>Login!</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Do a little dance</button>
    </form>
</main>

{% endblock content %}
